---
layout: default
title: 블로그
---

<h1>블로그 글 목록</h1>
<ul>
  {% assign threshold_date = "2025-06-01" %}

  {% for post in site.posts %}
    {% assign post_date = post.date | date: "%Y-%m-%d" %}

    {% if post_date >= threshold_date %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        <span>{{ post_date }}</span>
        {% if post.summary %}
          <p>{{ post.summary }}</p>
        {% elsif post.excerpt %}
          <p>{{ post.excerpt }}</p>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>